extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/bower_components/codemirror/lib/codemirror.css')
  link(rel='stylesheet', href='/static/stylesheets/dist/admin/editor.css')

block main
  form#form(method='post', action='/adnia/single_page/'+action, target="_blank")
    input(type='text', name='title', class='textbox-title', placeholder='标题', required, value=singlePage&&singlePage.title)
    .markdown-editor
      textarea(name='content', class='textarea-content')= singlePage&&singlePage.content
    input(type='submit', class='btn btn-submit', value='保存')
    input(type='submit', name='preview', class='btn btn-preview', value='预览')

append scripts
  script(src='/static/bower_components/codemirror/lib/codemirror.js')
  script(src='/static/bower_components/codemirror/keymap/sublime.js')
  script(src='/static/bower_components/codemirror/mode/markdown/markdown.js')
  script(src='/static/scripts/dist/admin/editor.js')