doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(name='renderer' content='webkit')
    meta(name='keywords' content='kuro,郭俊燊')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
    base(target='_blank')
    title= pageTitle ? pageTitle + ' - I\'m Kuro. | 郭俊燊的博客' : 'I\'m Kuro. | 郭俊燊的博客'
    link(rel='stylesheet', href='/static/stylesheets/dist/core.css')
    block head
  body
    | <!--[if lte IE 8]>
    #browser_too_old
      .container
        h1 Kuro不喜欢和数字难民打交道
        p Kuro 认为数字难民离被这个世界淘汰已经不远<br />
          | 如果你不想被世界抛弃，请
          a(href='http://rj.baidu.com/soft/detail/14744.html', target='_blank') 升级你的浏览器
          | <br />如果你确实因为一些原因用不了现代浏览器也可以
          a(onclick='document.getElementById("browser_too_old").style.display="none"') 临时查看
    | <![endif]-->
    header#header
      .container
        h1
          a(href='/', target='_self') I'm Kuro.
        include ./common/nav.jade
    #main
      #page
        block page
    footer#footer
      p
        a(href='https://github.com/KuroGuo/kuro-blog', class='github_link') Fork me on Github
    script(src='/static/scripts/dist/core.js')
