extends ./_layout.jade

append head
	link(rel='stylesheet', href='/static/stylesheets/dist/about_me.css')

block page
	h2 关于我
	p Kuro 的真名叫「郭俊燊」，生于 1993.6.11，家乡四川自贡，现居广西桂林。
	ul
		li 大学退学
		li
			a(href='http://iro.im/', target='_blank') iro
			|  创始人
		li 全栈开发者
		li 热爱互联网
		li 
			a(href='https://github.com/', target='_blank') Github
			|  深度用户
		li 二次元爱好者
	h3 价值观
	ul
		li Kuro 认为学校不是一个学习的好地方
		li Kuro 认为互联网会彻底地改变世界
		li Kuro 相信世界会往好的方向发展
		li Kuro 相信每个人都会有他的价值
		li Kuro 讨厌狂妄的人，喜欢诚实善良的人
		li Kuro 喜欢开放，不喜欢封闭
	h3 兴趣爱好
	ul
		li Kuro 从10岁开始接触并彻底地爱上了编程
		li Kuro 从12岁开始深受二次元文化影响，最喜爱的作品是《
			a(href='http://baike.baidu.com/subview/19350/9229059.htm', target='_blank') 新世纪福音战士
			| 》
		li Kuro 从15岁开始学习日语，自我感觉已达到 
			a(href='http://baike.baidu.com/view/727065.htm', target='_blank' title='日本语能力测试') JLPT 
			| 的最高等级水平
		li Kuro 喜欢看书，喜欢看纪录片，偶尔看看电影
		li Kuro 喜欢喝咖啡，最爱的食物是土豆，天天吃都不会腻
		li Kuro 喜欢小懒懒这样的萌妹子
	h3 编程
	p 目前的主力语言是 JavaScript，痴迷于 HTML5 和 Node.js 等新一代 Web 技术。
	h4 Web前端
	ul
		li 熟悉 HTML5、CSS3、ES6 等新特性
		li 熟练使用 AngularJS、Bower、Gulp、SCSS 等框架和工具
		li 对高性能动画的制作有很深的经验
		li 对跨平台富交互应用的开发有很深的经验
		li 十分关注代码的性能
		li 喜欢造轮子
		li 能够独立开发出应用程序
	h4 Node.js
	ul
		li 熟练使用 Express、Mongoose、Async、Socket.IO 等框架和库
		li 能够独立开发出 Web、RESTful、WebSocket 等服务
		li 会用 Nginx 做服务器前端
	h4 .NET
	ul
		li 熟悉面向对象编程
		li 熟练使用 ASP.NET MVC、Entity Framework 等框架
		li 熟悉异步代码编写
		li 了解 .NET 的运行机制
		li 能够独立开发出 Web、RESTful 等服务
	h4 其他
	ul
		li 熟练使用 MongoDB、Redis 等非关系型数据库
		li 熟练使用 MariaDB、MySQL、SQL Server 等关系型数据库
		li 熟悉 Linux 操作系统的使用
		li 能够在 Linux 和 Windows 上部署Web服务
	h3 经历
	ul
		li 2011.11 - 2014.06 就读于桂林电子科技大学职业技术学院
		li 2013.11 - 2014.07 工作于
			a(href='http://www.mimoprint.com/', target='_blank') 米莫印品
		li 2014.09 - 2015.01 升入桂林电子科技大学计算机科学与工程学院一个学期后退学
	h3 联系方式
	p 以下是 Kuro 的联系方式
	ul
		li 邮箱：413298956@qq.com
		li QQ：413298956
		li V2EX：
			a(href='https://www.v2ex.com/member/kuro', target='_blank') KuroGuo
		li Github：
			a(href='https://github.com/kuroguo/iro', target='_blank') KuroGuo
	h3 版权
	p 博客内容均为原创，可以自由转载传播，但请署名并注明出处。<br />所有内容使用「
		a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/cn/', target='_blank') 署名-非商业性使用-相同方式共享 3.0 中国大陆
		| 」协议发布。

