extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/home.css')
  link(rel='stylesheet', href='/static/stylesheets/dist/highlight.css')

block page
  each article in articles
    .article
      h3.title
        a(href='/note/' + article._id, target='_self')= article.title
      .content!= article.content
      .datetime
        p 本条目
          if article.createTime
            | 创建于 
            span= article.createTime
          |  更新于 
          span= article.updateTime
  p
    a(href='/list', target='_self') 所有文章
