extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/home.css')
  link(rel='stylesheet', href='/static/stylesheets/dist/highlight.css')

block page
  each article in articles
    .article
      h3.title
        a(href='/note/' + article._id)= article.title
      .content!= article.content
      .datetime 本条目发布于 
        span= article.createTime
