extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/note.css')
  link(rel='stylesheet', href='/static/stylesheets/dist/highlight.css')

block page
  article.article
    if !hideTitle
      h1.title= article.title
    .content!= article.content
    if article.updateTime
      .datetime
        p 本条目
          if article.createTime
            | 创建于 
            span= article.createTime
            |  
          | 更新于 
          span= article.updateTime
