extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/note.css')
  link(rel='stylesheet', href='/static/stylesheets/dist/highlight.css')

block page
  .article
    if !hideTitle
      h2.title= article.title
    .content!= article.content
    if article.updateTime
      .datetime
        p 本条目更新于 
          span= article.updateTime
