@import "compass/reset";
@import "compass/css3";
@import "common.scss";

html {
  font-size: 16px;
}

body {
  font-family: $font-stack;
  color: #333;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #258fb8; 
}

#browser_too_old {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: white;
  line-height: 1.71em;
  font-size: 30px;

  .container {
    position: absolute;
    width: 28em;
    left: 50%;
    top: 50%;
    margin-left: -14em;
    margin-top: -6em;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  a {
    cursor: pointer;
  }
}

$width: 48rem;

#header {
  border-bottom: .1rem solid #ddd;
  display: block;

  .container {
    max-width: $width;
    margin: 0 auto;
    position: relative;

    h1 {
      a {
        line-height: 6rem;
        font-size: 2rem;
        color: black;
      }
    } 
  }
}

#nav {
  $border-width: .1rem;
  $height: 2.4rem;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  height: $height;

  @media screen and (max-width: 600px) {
    height: auto;
    line-height: $height;
    position: static;
    text-align: right;
  }

  li {
    font-size: .9rem;
    display: inline-block;
    a {
      display: block;
      padding: 0 1.2rem;
      line-height: $height;
      height: $height;
    }

    &.current a {
      font-weight: bold;
    }
  }
}

#main {
  $page-padding-x: 3rem;
  $page-padding-y: 2rem;
  position: relative;
  overflow: hidden;

  @include box-sizing(border-box);
  max-width: 64rem;
  margin: 0 auto;
}

#page {
  line-height: 1.71em;
  width: $width;
  margin: 0 auto;
  padding-top: .6rem;
  @include box-sizing(border-box);

  h2, h3, h4, h5, h6, p {
    margin: 1.2em 0;
  }

  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  ul {
    margin-left: 1em;
    li {
      margin: .6em 0;
    }
  }

  strong {
    font-weight: bold;
  }

  pre > code {
    display: block;
    background-color: #f8f8f8;
    padding: 1em;
    font-family: Monaco, Consolas, "Lucida Console", $font-stack;
    font-size: .8rem;
    line-height: 1.2em;
    overflow: auto;
    -webkit-text-size-adjust: none;
  }
}

@media screen and (max-width: 768px) {
  #page {
    width: 100%;
    position: static;
  }
}

#footer {
  padding: 2rem 0;
  text-align: center;
}